<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <style type="text/css">
    body {
      background: #fff url(/static/img/bg.jpg) repeat;
    }
    #dialog {
      background: transparent url(/static/img/page-not-found.png) no-repeat;
      height: 306px;
      margin: 100px auto;
      width: 485px;
    }
  </style>
</head>
<body>
  <div id="dialog"></div>
</body>
</html>
