<!DOCTYPE html>
<html>
<head>
  <% include head %>
  <link rel="stylesheet" href="/static/css/login.css"/>
</head>
<body>
  <div class="container">
    <div class="alert alert-danger internet-error" style="display: none">The network seems to be not good.</div>
    <div class="alert alert-danger find-error" style="display: none">The username and email do not match.</div>
    <div class="alert alert-success find-success" style="display: none">The password has been send to your mailbox.</div>
    <form id="findForm" class="form-signin" data-validate="parsley">
      <h3 class="form-signin-heading">Find Password</h3>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" data-regexp="^[0-9a-zA-Z_]{6,16}$" data-required="true" class="form-control" id="username" placeholder="Enter Username">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" data-required="true" data-type="email" class="form-control" id="email" placeholder="Enter Email">
      </div>
      <button class="btn btn-block btn-info" id="find">Submit</button>
      <a class="btn btn-block btn-default" id="back" href="/user/login">Back</a>
    </form>
  </div>
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/parsley.min.js"></script>
  <script type="text/javascript">
    $(function(){
      $('#find').click(function(check) {
        check.preventDefault();
        var flag = $('#findForm').parsley('validate');
        if (flag) {
          $(this).attr('disabled', true);
          var username = $('#username').val();
          var email = $('#email').val();
          $.ajax({
            type: 'POST',
            url: '/user/find_password',
            data: {'username': username, 'email': email},
            dataType: 'json',
            timeout: 5000,
            cache: false})
            .done(function(msg) {
              if (msg.result == 'notMatch')
                $('.find-error').slideDown().delay('3000').slideUp();
              else
                $('.find-success').slideDown().delay('3000').slideUp();
                setTimeout("window.location.href = '/user/login'", 3000);
            })
            .fail(function() {
              $('.internet-error').slideDown().delay('3000').slideUp();
            })
            .always(function() {
              $('#username').val('');
              $('#email').val('');
              $(this).attr('disabled', false);
            });
        }

      });
    });
  </script>
</body>
</html>
