<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <% include head %>
  <link rel="stylesheet" href="/static/css/navbar.css"/>
  <link rel="stylesheet" href="/static/css/sidenav.css"/>
  <link rel="stylesheet" href="/static/css/project.css"/>
</head>
<body>
  <% include navbar %>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="nav nav-list sidenav">
          <li><a href="#breadcrumbs"><span class="glyphicon glyphicon-share"></span> 人员管理</a></li>
          <li><a href="#pagination"><i class="icon-chevron-right"></i> Pagination</a></li>
          <li><a href="#labels-badges"><i class="icon-chevron-right"></i> Labels and badges</a></li>
          <li><a href="#typography"><i class="icon-chevron-right"></i> Typography</a></li>
          <li><a href="#thumbnails"><i class="icon-chevron-right"></i> Thumbnails</a></li>
          <li><a href="#alerts"><i class="icon-chevron-right"></i> Alerts</a></li>
          <li><a href="#progress"><i class="icon-chevron-right"></i> Progress bars</a></li>
          <li><a href="#media"><i class="icon-chevron-right"></i> Media object</a></li>
          <li><a href="#misc"><i class="icon-chevron-right"></i> Misc</a></li>
        </ul>
      </div>

      <div class="col-md-5">
        <div class="msg_header">
          <textarea class="form-control" rows="4"></textarea>
          <button class="btn btn-danger" id="msg_send"><span class="glyphicon glyphicon-share"></span> 发送</button>
        </div>
        <hr>
        <div class="msg_list">
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACm0lEQVR4Xu2Y64upURTGFzLJPVGuo3wg95IyU+JvZ3KJUiKhlOKLEUPuxuWctcrUOc6UebeTZO1PXt699trPftb6ZcvG4/ERHnjIWAB2AJcA94AH7oHATZApwBRgCjAFmAIPrABjkDHIGGQMMgYfGAL8Z4gxyBhkDDIGGYOMwSsosN/voVQqQTgcBq1Wexbxd7OF9XoNdrv9otWuHe+7Ra+GwUajAYPBANLpNMjl8j/Ww828vb2Bz+cDm812kQDXjvdfBcDTrVQqkEgkQKfTna1Vq9VInGAwSALgZ5VKBQaDgd59f3+Hp6cnMBqN9PzTeBcp+s1Lwg44na7FYqEN/j1wsygAlsXz8zOVQK/Xg3a7DalUCpbLJZTLZYjH4ySAlHg3FaDZbEK/3//KIRQKgdVqpeftdkvWDwQCMJ/PQa1Wg8PhoN/QMavVit5xu93g8Xjoe6nxpIog5IDdbgfZbBa8Xi84nU4SotVq0ckqlUooFotk7VgsBljTaPmTAHjSOBdL4eXlBWQyGYjEu4kAo9GI7I2NDzdwPB4hk8kQCT4+PqDb7Z7ldeoDw+EQqtUq/f76+goajQZE4t1EALRwLpeDZDJJJ4nP+XyeThTFOBwOlBdSodPp0DtodRQLT9/v98N0OqUmiDE2m42keOg2qUOoBHDRU4dHe+NmsBlGo9GzfOr1OpWAy+WCQqFAJYKN7+Qak8kEkUhEUjypm8d5wgJgELTzbDYDvV4PZrP5n/mgOxQKBfWEyWRCYqATcHx+fsJisfjC4E/j3VwAkQRuPfcqDrj1JkTWZwH4RohvhPhGiG+ERLrovc9lCjAFmAJMAabAvXdykfyZAkwBpgBTgCkg0kXvfS5TgCnAFGAKMAXuvZOL5M8UeHQK/AKgck6f7dz82QAAAABJRU5ErkJggg==" style="width: 64px; height: 64px;">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio
            </div>
          </div>
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACm0lEQVR4Xu2Y64upURTGFzLJPVGuo3wg95IyU+JvZ3KJUiKhlOKLEUPuxuWctcrUOc6UebeTZO1PXt699trPftb6ZcvG4/ERHnjIWAB2AJcA94AH7oHATZApwBRgCjAFmAIPrABjkDHIGGQMMgYfGAL8Z4gxyBhkDDIGGYOMwSsosN/voVQqQTgcBq1Wexbxd7OF9XoNdrv9otWuHe+7Ra+GwUajAYPBANLpNMjl8j/Ww828vb2Bz+cDm812kQDXjvdfBcDTrVQqkEgkQKfTna1Vq9VInGAwSALgZ5VKBQaDgd59f3+Hp6cnMBqN9PzTeBcp+s1Lwg44na7FYqEN/j1wsygAlsXz8zOVQK/Xg3a7DalUCpbLJZTLZYjH4ySAlHg3FaDZbEK/3//KIRQKgdVqpeftdkvWDwQCMJ/PQa1Wg8PhoN/QMavVit5xu93g8Xjoe6nxpIog5IDdbgfZbBa8Xi84nU4SotVq0ckqlUooFotk7VgsBljTaPmTAHjSOBdL4eXlBWQyGYjEu4kAo9GI7I2NDzdwPB4hk8kQCT4+PqDb7Z7ldeoDw+EQqtUq/f76+goajQZE4t1EALRwLpeDZDJJJ4nP+XyeThTFOBwOlBdSodPp0DtodRQLT9/v98N0OqUmiDE2m42keOg2qUOoBHDRU4dHe+NmsBlGo9GzfOr1OpWAy+WCQqFAJYKN7+Qak8kEkUhEUjypm8d5wgJgELTzbDYDvV4PZrP5n/mgOxQKBfWEyWRCYqATcHx+fsJisfjC4E/j3VwAkQRuPfcqDrj1JkTWZwH4RohvhPhGiG+ERLrovc9lCjAFmAJMAabAvXdykfyZAkwBpgBTgCkg0kXvfS5TgCnAFGAKMAXuvZOL5M8UeHQK/AKgck6f7dz82QAAAABJRU5ErkJggg==" style="width: 64px; height: 64px;">
            </a>
            <div class="media-body">
              <p>xxxamet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio</p>
              <h4 class="media-heading">Media heading</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>