@header_color: #333;

.p_name {
  color: @header_color;
}
.p_edit, .p_del {
  display: none;
  float: right;
  color: @header_color;
}
.p_edit {
  margin-right: 10px;
}
#msg_send {
  margin-top: 20px;
}